.description {
  height: 60px;
  overflow: hidden;
}
.name {
  height: 40px;
}
.posts-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pagination2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.MuiPaginationItem-page {
  color: #fff;
}

.css-g2z002-MuiSvgIcon-root-MuiPaginationItem-icon {
  color: white;
}
/* .css-65c5xw-MuiButtonBase-root-MuiPaginationItem-root {
  color: white;
} */

.MuiPagination-ul button {
  color: white;
  /* background: blue; */
}
